:root{
	--color-negro: #000000;
	--color-verde: #AFD13C;
	--color-azul: #1B8AA5;
	--color-blanco: #FFFFFF;
	--color-gris: #919191;
	--color-rosa: #C71C73;
}

header{
	background-color: var(--color-blanco);
}

#header-top{
	background-color: var(--color-verde);
	padding: 10px;
}

.list-top a{
	color: var(--color-blanco);
}


#ctact{
	color: var(--color-blanco);
}

#ctacto{
	color: var(--color-blanco);
}

#logo{
	margin-left: 30px;
}

#navbarNav{
	margin-left: 300px;
}

.nav-link{
	background-color: var(--color-verde);
	border-radius: 5%;
	text-indent: 2px;
	padding-right: 5px;
	font-size: 15px;
	text-align: right;
}

footer{
	background-color: var(--color-verde);
	color: var(--color-blanco);
	padding-top: 10px;
}

#contact{
	background-color: var(--color-blanco);
	padding-top: 30px;
	padding-bottom: 30px;
}

#contact h2{
	color: var(--color-rosa);
	text-align: center;
}

#contact h4{
	font-weight: 10;
	text-align: justify;
	font-size: 15px;
	padding-bottom: 15px;
}

#button{
	background-color: var(--color-verde);
	padding-bottom: 10px;
	padding-left: 30px;
	padding-top: 10px;
	padding-right: 30px;
}